@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans text-zinc-100 bg-zinc-950 antialiased selection:bg-indigo-500/30 selection:text-indigo-200;
  }
}
